# Virtual Environments
venv/
venv_detection/
venv_generation/

# Datasets and Large Files
dataset/
detection/
generation/
*.mp4
*.onnx
*.csv
*.h5
*.safetensors

# Python cache
__pycache__/

# IDE files
.vscode/

# Node modules
node_modules/
